/*清除外边距*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure, /*结构元素*/
dl, dt, dd, ul, ol, li, /*列表元素*/
fieldset, lengend, button, input, textarea, /*表单元素*/
th, td, /*表格元素*/
pre /*文本格式元素*/ {
    margin: 0;
}


/*清除内边距*/
ul, ol, menu {
    padding: 0;
}


/*重置列表元素*/
ul, ol {
    list-style: none;
}


/*将字体扶正*/
address, cite, dfn, em, var {
    font-style: normal;
}


/*清下划线，鼠标略过a标签，显示下划线*/
a {
    text-decoration: none;
    color: #99A8AC;
    &:hover { color:#FF3344; }
}

/*清浮动*/
.clear:after {
    content: '';
    display: block;
    clear: both;
}
$base-font-size : .12rem;
$width-over : 100%;
$base-back-color : #fff;
$center : 0 auto;
$none : none;

body {
    font-family: 'Helvetica','Microsoft YaHei','STHeiti STXihei', 'Microsoft JhengHei','Arial';
    font-size: 12px;
}
@font-face {
  font-family: 'iconfont';  /* project id 268148 */
  src: url('//at.alicdn.com/t/font_ljfimay7am7vi.eot');
  src: url('//at.alicdn.com/t/font_ljfimay7am7vi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ljfimay7am7vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_ljfimay7am7vi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ljfimay7am7vi.svg#iconfont') format('svg');
}
.none {
    display: $none;
}
#my-blog-wrap {
    width: $width-over;
}
header {
    overflow: hidden;
    max-width: 1000px;
    margin: $center;
    position: relative;
    height: 120px;
}
.logo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
}
nav {
    position: absolute;
    right: 0;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    width: 70%;
}
.nav-wrap {
    height: 50px;
}
.nav {
    width: 70%;
    height: 100%;
}
nav ul li {
    float: left;
}
nav ul li a{
    padding: 0 20px;
    font-size: 16px;
    float: left;
    height: 100%;
    line-height: 50px;
    margin: 0 10px;
}
.search {
    position:relative;
    width: 30%;
    height: 50px;
}
#search{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    border: none;
    border-bottom:1px solid #ccc;
    outline: none;
    height: 24px;
    width: 24px;
    background:transparent;
    transition: all .4s ease;
    padding-left: 30px;
    visibility: hidden;
}
#search-submit {
    background: #fff url('../images/icon_search.png') no-repeat center center;
    border : none;
    border-radius: 0;
    overflow: hidden;
    width: 24px;
    height: 24px;
    position:absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    padding:0;
    outline: $none;
    background-size: 80%;
}
.main-wrap {
    margin: $center;
    margin-top: 50px;
    width: 1000px;
    display: flex;
    align-content: center;
    justify-content: flex-start;  
}
main {
    width: 70%;
}
.main-slider {
    width: 20%;
    padding: 0 0 0 60px;
}
section {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 50px;
}
.msg-con {
    margin:0 0 0 50px;
    padding: 0 0 0 20px;
    position:relative;
}
.account-msg {
    padding:10px 0 15px 0;
    border-top: 5px solid #FF3344;
}
.release-date {
    padding:20px 0;
    border-top:5px solid #00E7A9;
    text-align: center;
}
.account-name {
    text-align: center;
    color: #99A8AC;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    font-size: 14px;
    margin-top: 10px;
}
.day {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 400;
    color: #3E3E3E;
}
.months {
    color: #99A8AC;
    font-size: 14px;
}
.msg-tit {
    display: block;
    margin: 0 0 30px 0;
    font-size: 24px;
}
.msg-introduction {
    line-height: 1.5rem;
    font-size: 14px;
    color: #99A8AC;
    text-indent: 2em;
}
.my-icon {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.msg-con-icon {
    position:absolute;
    top: 7px;
    left: -10px;
    color: #00E7A9;
}
.my-font {
    font-size: 25px;
}
.my-category ul li:not(:first-child) {
    font-size: 14px;
    line-height: 2.2em;
}
.my-category ul li:first-child{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    color: #FF3344;
    border-bottom: 1px solid #E4EAEC;
}
/* 
    右侧标题专用混合宏
*/
@mixin rightTitle{
    margin-top: 50px;
    color: #FF3344;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #E4EAEC;
    padding-bottom: 5px;
}
.tag-cloud h3 {
    @include rightTitle;
}
.tag-cloud a {
    float: left;
    font-size: 12px;
    background-color: #E4EAEC;
    -webkit-border-radius: 5px;
    color: #99A8AC;
    padding: 0 5px;
    margin: 8px 5px 0 0;
    min-width: 30px;
    line-height: 30px;
}
.links h3 {
    @include rightTitle;
}
.links ul li {
    line-height: 2.2em;
}
.links ul li a {
    font-size: 14px;
}
footer {
    background-color: #353535;
    padding: 60px 0;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 16px;
    color: #686868;
}
.search:hover #search {
    visibility: visible;
    width: 66%;
}
#search:focus {
    visibility: visible;
    width: 66%;
}
